<h1>Eat some fruit</h1>
<%= link_to("Chomp", players_path) %>
<h2>This week</h2>
<% @players.each do |player|%>
  <div>
    <%= player.name %>: <%= player.current_score %>
    <span>
      <% player.chomps.each do |chomp| %>
        <%= chomp.fruit.emoji %>
      <% end%>
    </span>
  </div>
<% end%>
